.chat-btn{
    position: fixed;
    left: 10px;
    top: 85%;
    border: transparent;
    background: transparent;
    transition-duration: 1.5s;
    border-radius: 10px;
}
.chat-btn:hover{
    background: black;
    
    transform: rotateY(180deg);
}

.chatroom{
    border-radius: 10px;
    background-color: white;
    position: fixed;
    left: 10px;
    top:40%;
    width: 300px;
    height: 400px;
    text-align: center;
}

.chat-display{
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(107, 107, 255);
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height: 280px;
}
.text-grid{
    resize: none;
    border-radius: 10px;
    margin: 10px 5px 5px -3px;
    display: inline-block;
    width: 200px;
    height: 80px;
    font-size:18px;
    vertical-align: middle;
}

.enter-btn{
    background: transparent;
    border: transparent;
}

.img-enter{
    display: inline-block;
}