.body{
    box-sizing: border-box;
}

.chat-btn{
    z-index: 99;
    position: fixed;
    left: 10px;
    top: 85%;
    border: transparent;
    background: transparent;
    border-radius: 10px;
}
.click-img{
    color: white;
    width: 80px;
    height: 100px;
    transition-duration: 1s;
}
.click-img:hover{
    color: black;
    background-image: url('../images/cursor.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right;
    transform: rotateY(180deg);
}

.chatroom{
    z-index: 99;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    left: 10px;
    top:42%;
    width: 300px;
    height: 400px;
    text-align: center;
}

.chat-display{
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(107, 107, 255);
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height: 280px;
    font-size: 18px;
}
.right-display{
    background-color: yellow;
    float: right;
    text-align: right;
    border-radius: 8px 8px 0px 8px;
    margin: 10px;
    clear: both;
    padding: 5px;
    box-shadow: 5px 5px rgb(199, 199, 42);
}
.left-display{
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: left;
    border-radius: 8px 8px 8px 0px;
    margin: 10px;
    clear: both;
    padding: 5px;
    box-shadow: -5px 5px rgb(202, 196, 196);
}



.text-grid{
    resize: none;
    border-radius: 10px;
    margin: 10px 5px 5px -3px;
    display: inline-block;
    width: 200px;
    height: 80px;
    font-size:18px;
    vertical-align: middle;
}

.enter-btn{
    background: transparent;
    border: transparent;
}

.img-enter{
    display: inline-block;
}