* {
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: NotoSans-Medium;
    color: white;
    margin-top: 100px;
}
.mother {
    width: 100vw;
    background-color: lightgray;
    background-image: url(../images/nike.png);
    background-attachment: fixed;
    background-size: 45%;
    background-position: top;
    background-repeat: no-repeat;
}
.grid {
    cursor: pointer;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 0.5s;
    overflow: hidden;
    border: 4px solid white;
}

.grid:hover {
    border: 4px solid rgb(0, 0, 0);
}

.grid li {
    display: inline-block;
    width: 70%;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

.grid_hover {
    width: 450px;
    height: 450px;
}

.change_1 {
    background-color: #fea42e;
    border: 4px solid #fea42e;
    color: #5f3600;
}
.change_2 {
    background-color: rgb(134, 134, 134);
    border: 4px solid rgb(134, 134, 134);
    color: rgb(68, 68, 68);
}

.grid img {
    margin: 30px 0px 50px 0px;
}

.stopEvent {
    pointer-events: none;
}

.imgset {
    transition-duration: 0.4s;
    cursor: initial;
}
.imgset:hover {
    width: 370px;
    cursor: initial;
}

.warning {
    margin-top: 30px;
    font-size: 15px;
    color: black;
    display: inline-block;
}
.mouseImg {
    display: block;
}

.Btn {
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
    margin: 100px auto 100px auto;
    background-color: #484848;
}

.Btn:hover {
    background-color: #000;
}

/* .cursor{
    cursor: url(../images/마우스오른쪽.cur);
} */
