*{
    box-sizing: border-box;
}

.all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: NotoSans-Medium;
    color: white;
    margin-top: 100px;
}

.grid{
    width: 300px;
    height: 300px;
    background-color: rgb(253, 245, 234);
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
}

.grid li{
    display: inline-block;
    width: 300px;
    margin: 20px 20px 40px 20px;
    list-style: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.grid:hover{
    width: 450px;
    height: 450px;
}
.grid img{
    margin:30px 40px 50px 40px; 
}
.btn{
     transition-duration: 0.4s;
}
.change_1{
    background-color: rgb(255, 160, 83);
}
.change_2{
    background-color: rgb(134, 134, 134);
}
.change2{
    background-color: transparent;
}
.btn:hover{
    width: 370px;
}
.text:hover{
    color: white;
}
button{
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
    margin: 100px auto 100px auto;

}

button:hover{
    background-color: slategray;
}