* {
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: NotoSans-Medium;
    color: white;
    margin-top: 100px;
}

.grid {
    width: 300px;
    height: 300px;
    background-color: rgb(253, 245, 234);
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
}

.grid li {
    display: inline-block;
    width: 200px;
    margin: 0px 20px 0px 20px;
    list-style: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.grid:hover {
    width: 450px;
    height: 450px;
}
<<<<<<< HEAD
.grid img {
    margin: 30px 40px 50px 40px;
}
.btn {
    transition-duration: 0.4s;
=======
.grid img{
    margin:30px 40px 120px 40px; 
>>>>>>> main
}
.change_1 {
    background-color: rgb(255, 160, 83);
}
.change_2 {
    background-color: rgb(134, 134, 134);
}
.change2 {
    background-color: transparent;
}
<<<<<<< HEAD
.btn:hover {
=======
.imgset{
     transition-duration: 0.4s;
}
.imgset:hover{
>>>>>>> main
    width: 370px;
}
.text:hover {
    color: white;
}
<<<<<<< HEAD
button {
=======
.Btn {
>>>>>>> main
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
    margin: 100px auto 100px auto;
}

<<<<<<< HEAD
button:hover {
=======
.Btn:hover{
>>>>>>> main
    background-color: slategray;
}
