* {
    box-sizing: border-box;
}
.NVcontainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5vh;
}
.Navi_item {
    margin: 0 15px 0 15px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(8px + 1vmin);
    font-family: "NotoSans-Medium";
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 1s;
    z-index: 1;
}
.Navi_item::after {
    position: absolute;
    transition: 0.8s;
    content: "";
    width: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    right: -10%;
    transform: skewX(20deg);
    z-index: -1;
}
.Navi_item:hover::after {
    left: -10%;
    width: 120%;
}
.Navi_item:hover {
    color: #484848;
}
