.NVcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
}
.item {
    margin-left: 15px;
    background-color: transparent;
    border: 0;
    color: white;
    font-family: "Roboto-black";
    cursor: pointer;
}
