.TBcontainer {
    display: flex;
    flex-direction: row;
    /* background: rgb(137, 214, 137); */
    height: 10vh;
}
.MinContainer1 {
    display: flex;
    flex: 1;
    align-items: flex-end;
}
.MinContainer2 {
    display: flex;
    flex: 1;
    justify-content: center;
    /* background-color: rebeccapurple; */
}
.MinContainer3 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.logo_default {
    margin-left: 14vw;
    font-family: "Roboto-black";
    font-size: 38px;
    color: white;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.hamburgBTN {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 14vw;
    font-size: calc(10px + 4.5vmin);
    font-weight: bolder;
    color: white;
    background: transparent;
    border: 0;
    cursor: pointer;
}
