* {
    box-sizing: border-box;
}

.TBcontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: #222222;
    position: fixed;
    /* height: 10vh; */
    height: 7vh;
    z-index: 9000;
}
.MinC {
    /* border: 2px solid black; */
    display: flex;
    flex: 1;
}
.minc1 {
    align-items: flex-end;
}
.minc2 {
    justify-content: center;
}
.minc3 {
    justify-content: flex-end;
    align-items: flex-end;
}
.KreamLogo {
    margin-left: 14vw;
    width: 8vw;
    cursor: pointer;
    align-self: center;
}
.hamburgBTN {
    display: flex;
    margin-right: 14vw;
    font-size: calc(10px + 4.5vmin);
    font-weight: bolder;
    color: white;
    background: transparent;
    border: 0;
    cursor: pointer;
}
